.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "slnt" 0;
}

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    color: #ffffff;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    padding: 5vh;
    margin: 10vh auto;
    background-color: rgba(0, 47, 141, 0.7);
    border-radius: 20px;
    font-size: 1.13rem;
    color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.219), -2px -2px 10px rgba(0, 0, 0, 0.219);
    opacity: 0;
    transform: translateY(-500px);
    transition: opacity 1s ease, transform 1s ease;
}

.card.show {
    opacity: 1;
    transform: translateY(0);
}

.card h1 {
    margin-bottom: 10px;
    text-align: center;
}

.card-text {
    text-indent: 20px;
    margin-bottom: 10px;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7vh;
    background-color: rgb(0, 42, 125);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s;
}

footer:hover {
    background-color: rgb(0, 32, 105);
}

.button {
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    background-color: #FF2A97;
    text-decoration: none;
    color: white;
    text-align: center;
    opacity: 0;
    transform: translateX(1000px);
    transition: background-color 0.3s, box-shadow 0.3s, opacity 1s ease, transform 1s ease;
}

.button.show {
    opacity: 1;
    transform: translateX(0);
}

.button:hover {
    background-color: #ff168e;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.219), -3px -3px 10px rgba(0, 0, 0, 0.219);
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

@media (max-width: 1200px) {
    .card {
        width: 90vw;
        margin: 7vh auto;
        font-size: 1.8rem;
    }

    footer {
        font-size: 1.5rem;
    }
}

@media (max-width: 1023px),
(max-width: 800px) {
    .card {
        width: 80vw;
        margin: 7vh auto;
        font-size: 1.6rem;
    }
}

@media (max-width: 600px) {
    .card {
        width: 90vw;
        margin: 7vh auto;
        font-size: 1.05rem;
    }

    footer {
        font-size: 0.9rem;
        padding: 3px;
    }
    
    form {
        flex-direction: column;
    }

    .image-container {
        display: none;
    }
}

@media (max-width: 400px) {
    .card {
        width: 90vw;
        margin: 5vh auto;
        font-size: 0.8rem;
        padding: 30px;
    }

    footer {
        font-size: 0.75rem;
        height: 10vh;
        padding: 2px;
    }
}

/*Cadastro*/

.containerBody {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-image: url('../images/background.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: repeat;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #e9e9e9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    max-width: 800px;
    width: 100%;
    margin: 20px;
    border-radius: 20px;
}

form p {
    margin: 10px 0;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-container, .image-container {
    flex: 1;
    padding: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-container {
    background-image: url('../images/ilustracao-do-conceito-de-politica-de-privacidade_114360-7853.avif');
    background-size: cover;
    background-position: center;
    border-radius: 0px 20px 20px 0px; 
}
